@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Orkney;
  src: url("./fonts/Orkney-Regular.otf") format("opentype");
}
@font-face {
  font-family: Orkney-Bold;
  src: url("./fonts/Orkney-Bold.otf") format("opentype");
}
@font-face {
  font-family: Orkney-Light;
  src: url("./fonts/Orkney-Light.otf") format("opentype");
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #10214a;
  border-radius: 20px;
  border: 3px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}


#text-area {
    height: 5em
}


